</main>
<footer>
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
  <ul class="social_icon">
    <li><a href="https://github.com/yashitz07"><ion-icon name="logo-github"></ion-icon></a></li>
    <li><a href="https://www.linkedin.com/in/yash-patel-882307252/"><ion-icon name="logo-linkedin"></ion-icon></a></li>
    <li><a href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a></li>
  </ul>
  
  <ul class="menu">
    <li><a href="#">Home</a></li>
    <li><a href="#">Achievements</a></li>
    <li><a href="/projects">Blogs</a></li>
    <li><a href="/achievement">Connect</a></li>
  </ul>
  <p class="copyright"> © Copyright 2024 - Developed by Yash Patel. All right reserved.</p>
</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<!-- <script src="/public/main.js"></script> -->
<script src="/main.js"></script>

</body>

</html>