<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/public/styles/favicon.svg" type="image/svg+xml">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-Z2TU7oUq7Fci9s3RsWt9TkQk9ggZlgb6sck0UqfNOrk4a5w+gFq+8meTC5QCk6c" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
  <link rel="stylesheet" href="../../public/styles/layout.css">
  <link rel="stylesheet" href="../../public/styles/content.css">
  <link rel="stylesheet" href="../../public/styles/projects.css">
  <link rel="stylesheet" href="../../public/styles/education.css">
  <link rel="stylesheet" href="../../public/styles/nav.css">
  <link rel="stylesheet" href="../../public/styles/hero.css">
  <title>Yash Patel</title>
</head>

<body>
  <nav class="nav">
    <div class="container">
        <div class="logo">
          <a aria-label="Home Page" href="/">
            <h1>
              <span>Y</span>ash
              <span>P</span>atel
            </h1>
          </a>  
        </div>
        <div class="main_list" id="mainListDiv">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#Projects">Projects</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="/achievement">Achievements</a></li>
                <li><a href="https://designformankind.com/2017/09/blog/">Blogs</a></li>

            </ul>

        </div>
        <div class="media_button">
            <button class="main_media_button" id="mediaButton">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</nav>


<main class="container">