<section id="achievement" class="projects-section"> 
  <h2>ACHIEVEMENTS</h2>
    
    <div id="achv-content">
      <div id="achv-right">
        
        <div class="achv-card" data-aos="zoom-in-up" data-aos-duration="1000">
          <h3 class="achv-title">
            Google Winter Of Code (GWOC’24)
            <span class="achv-date">January 2024</span>
          </h3>
          <ul class="achv-list">
            <li>Winning 1st position for engineering best fully functional digital solution for local art business.</li>
            <li>Optimized admin operations.</li>
          </ul>
        </div>

        <div class="achv-card" data-aos="zoom-in-up" data-aos-duration="1000">
          <h3 class="achv-title">
            Tata Imagination Challenge 2024
            <span class="achv-date">October 2024</span>
          </h3>
          <ul class="achv-list">
            <li>Selected in top 2% out of 3.14 lacs participants.</li>
            <li>Advanced to final idea pitching round of national-level innovation competition.</li>
          </ul>
        </div>

        <div class="achv-card" data-aos="zoom-in-up" data-aos-duration="1000">
          <h3 class="achv-title">
            Makeathon 2023
            <span class="achv-date">October 2023</span>
          </h3>
          <ul class="achv-list">
            <li>Awarded 3rd place by OpenWeaver for AI “VERSAWRITE App”.</li>
            <li>Built on a no-code platform within 48 hours.</li>
            <li>Featured content generation, summarization, and translation.</li>
            <li>Recognized in Divya Bhaskar newspaper of the city.</li>
          </ul>
        </div>

        <div class="achv-card" data-aos="zoom-in-up" data-aos-duration="1000">
          <h3 class="achv-title">
            Caseception 2023
            <span class="achv-date">January 2023</span>
          </h3>
          <ul class="achv-list">
            <li>Awarded 3rd position in the entrepreneur-based competition.</li>
            <li>Tackled retail finance, capital, operational, and risk management challenges of watch business.</li>
            <li>Pitched strategies, supply chain, and business ideas.</li>
          </ul>
        </div>

      </div>
    </div>
</section>
