<section id="education">
    <div class="container">
        <div class="row">
            <div class="education-title">
                <h5 class="subtitle_section slides" data-content="Education"></h5>
                <h4 class="education-subtitle">Here is my qualification</h4>
            </div>
        </div>
        <div id="edu-content">
            <div id="edu-right">
                <div class="edu-data" data-aos="zoom-in-up" data-aos-duration="1000">
                    <div class="edu-upper">
                        <div class="degree">BTech-Electronic and Communication</div>
                        <div class="year">2026</div>
                    </div>
                    <div class="edu-lower">
                        <div class="desc">National Institute of Technology, Surat</div>
                        <div class="marks">CGPA-8.27</div>
                    </div>
                </div>
                <div class="edu-data" data-aos="zoom-in-up" data-aos-duration="1000">
                    <div class="edu-upper">
                        <div class="degree">HSC</div>
                        <div class="year">2022</div>
                    </div>
                    <div class="edu-lower">
                        <div class="desc">Gujarat Secondary & Higher Sec. Edu. Board, Gandhinagar</div>
                        <div class="marks">91%ile & jee-98.3%ile</div>
                    </div>
                </div>
                <div class="edu-data" data-aos="zoom-in-up" data-aos-duration="1000">
                    <div class="edu-upper">
                        <div class="degree">SSC</div>
                        <div class="year">2020</div>
                    </div>
                    <div class="edu-lower">
                        <div class="desc">Gujarat Secondary & Higher Sec. Edu. Board, Gandhinagar</div>
                        <div class="marks">98.2%ile</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
