<section class="experience-section" id="experience">
  <h2>EXPERIENCE</h2>

  <div class="experience-entry">
    <h3>Mirai Minds</h3>
    <div class="role-dates">
      <span class="role">Software Developer Intern</span>
      <span class="dates">May 2024 – July 2024</span>
    </div>
    <ul>
      <li>Integrated compareLLMofhuggingface into system, boosting user interaction and customer engagement by 30%.</li>
      <li>Contributed to the development of a drag and drop platform, creating over 8 components in Ensemble UI framework. Utilized YAML file to dynamically convert into React code in real-time, streamlining development processes.</li>
      <li>Optimized technology solutions to deliver scalable improvements, reducing site render time by 40% and enhancing speed.</li>
    </ul>
  </div>

  <div class="experience-entry">
    <h3>Association for Computing Machinery</h3>
    <div class="role-dates">
      <span class="role">Core Developer</span>
      <span class="dates">April 2024</span>
    </div>
    <ul>
      <li>Managed maintenance and enhancements of ACM-NIT Surat and Dotslash website, ensuring optimal performance and improving user experience for over 5,000 students through regular updates and troubleshooting.</li>
      <li>Organized and led impactful events and hackathons, collaborating with cross-functional teams to boost participation and improve event, workshop efficiency, driving a 20% increase in engagement.</li>
    </ul>
  </div>

</section>