<link rel="stylesheet" href="/styles/projects.css" />
<section id="Projects">
  <div class="container">
    <div class="row mb-5">
      <div class="">
        <h5 class="subtitle_section slide" data-content="Project"></h5>
        <h4 class="projects-subtitle">Checkout My Interactive Projects</h4>
      </div>
    </div>
    <div class="row">
      <!-- Each project item -->

      <div
        style="margin: 10px 0px"
        class="hover:scale-105 hover:ease-out duration-300 shadow-md col-sm-6 col-md-4 col-lg-4"
      >
        <div class="portfolio-item_portfolio__item___GoM5">
          <a
            target="_blank"
            style="text-decoration: none"
            href="https://strinja.vercel.app/"
            rel="noreferrer"
          >
            <div class="bg-transparent">
              <div class="portfolio-item_portfolio__img__whmCV">
                <img
                  alt="Master Next.js 14"
                  loading="lazy"
                  width="380"
                  height="1"
                  decoding="async"
                  data-nimg="1"
                  style="color: transparent; max-height: 380px; overflow: auto"
                  srcset="
                    https://i.ibb.co/MVYBSK3/Screenshot-2024-01-20-232713.png&amp;w=384&amp;q=75 1x,
                    https://i.ibb.co/MVYBSK3/Screenshot-2024-01-20-232713.png&amp;w=828&amp;q=75 2x
                  "
                  src="https://i.ibb.co/MVYBSK3/Screenshot-2024-01-20-232713.png&amp;w=828&amp;q=75"
                  alt="Description"
                />
              </div>
              <h3 style="background: transparent">Strinja.Shop</h3>
              <p style="background: transparent">
                An E-commerce website for the local bussiness
              </p>
              <div class="w-[100%] mt-5 lg:mt-0"></div>
              <div
                style="
                  position: absolute;
                  background: transparent;
                  bottom: 20px;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                "
              >
                <span class="portfolio-item_portfolio__keyword__JJEwv my-1"
                  >ReactJS</span
                ><span class="portfolio-item_portfolio__keyword__JJEwv my-1"
                  >NodeJs</span
                >
                <span class="portfolio-item_portfolio__keyword__JJEwv my-1"
                  >MongoDB
                </span>
                <span class="portfolio-item_portfolio__keyword__JJEwv my-1"
                  >ExpressJs
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div
        style="margin: 10px 0px"
        class="hover:scale-105 hover:ease-out duration-300 shadow-md col-sm-6 col-md-4 col-lg-4"
      >
        <div class="portfolio-item_portfolio__item___GoM5">
          <a
            target="_blank"
            style="text-decoration: none"
            href="https://www.hackdotslash.co.in/"
            rel="noreferrer"
          >
            <div class="bg-transparent">
              <div class="portfolio-item_portfolio__img__whmCV">
                <img
                  alt="Dotslash"
                  loading="lazy"
                  width="380"
                  height="1"
                  decoding="async"
                  style="color: transparent; max-height: 380px; overflow: auto"
                  src="../public/images/dotslash.png"
                />
              </div>
              <h3 style="background: transparent">Dotslash</h3>
              <p style="background: transparent">
                A hackathon website of ACM's Flagship event
              </p>
              <div class="w-[100%] mt-5 lg:mt-0"></div>
              <div
                style="
                  position: absolute;
                  background: transparent;
                  bottom: 20px;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                "
              >
                <span class="portfolio-item_portfolio__keyword__JJEwv my-1"
                  >AstroWind</span
                ><span class="portfolio-item_portfolio__keyword__JJEwv my-1"
                  >GoogleSheetsAPIv4</span
                >
                <span class="portfolio-item_portfolio__keyword__JJEwv my-1"
                  >ReactJS
                </span>
                <span class="portfolio-item_portfolio__keyword__JJEwv my-1"
                  >Github
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div
        style="margin: 10px 0px"
        class="hover:scale-105 hover:ease-out duration-300 shadow-md col-sm-6 col-md-4 col-lg-4"
      >
        <div class="portfolio-item_portfolio__item___GoM5">
          <a
            target="_blank"
            style="text-decoration: none"
            href="https://nitsurat.acm.org/"
            rel="noreferrer"
          >
            <div class="bg-transparent">
              <div class="portfolio-item_portfolio__img__whmCV">
                <img
                  alt="ACM"
                  loading="lazy"
                  width="380"
                  height="1"
                  decoding="async"
                  style="color: transparent; max-height: 380px; overflow: auto"
                  src="../public/images/ACM.png"
                />
              </div>
              <h3 style="background: transparent">ACM NIT-SURAT</h3>
              <p style="background: transparent">
                Computer Science society ACM site of SVNIT
              </p>
              <div class="w-[100%] mt-5 lg:mt-0"></div>
              <div
                style="
                  position: absolute;
                  background: transparent;
                  bottom: 20px;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                "
              >
                <span class="portfolio-item_portfolio__keyword__JJEwv my-1"
                  >AstroWind</span
                ><span class="portfolio-item_portfolio__keyword__JJEwv my-1"
                  >GoogleSheetsAPIv4</span
                >
                <span class="portfolio-item_portfolio__keyword__JJEwv my-1"
                  >ReactJS
                </span>
                <span class="portfolio-item_portfolio__keyword__JJEwv my-1"
                  >Github
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div
        style="margin: 10px 0px"
        class="hover:scale-105 hover:ease-out duration-300 shadow-md col-sm-6 col-md-4 col-lg-4"
      >
        <div class="portfolio-item_portfolio__item___GoM5">
          <a
            target="_blank"
            href="https://studio.openweaver.com/apps/u22ec034/Versawrite/page1"
          >
            <div class="bg-transparent">
              <div class="portfolio-item_portfolio__img__whmCV">
                <img
                  alt="Complete Java Master Course"
                  loading="lazy"
                  width="380"
                  height="1"
                  decoding="async"
                  data-nimg="1"
                  style="color: transparent; max-height: 380px; overflow: auto"
                  srcset="
                    https://i.ibb.co/4RM7KDv/Versawrite-Logo.png&w=828&q=75&amp;w=384&amp;q=75 1x,
                    https://i.ibb.co/4RM7KDv/Versawrite-Logo.png&w=828&q=75&amp;w=828&amp;q=75 2x
                  "
                  src="https://i.ibb.co/4RM7KDv/Versawrite-Logo.png&w=828&q=75"
                />
              </div>
              <h3 style="background: transparent">Versawrite App</h3>
              <p style="background: transparent">
                No Code App which Translate, Summarize, and Generate Content
                Using AI
              </p>
              <div class="w-[100%] mt-5 lg:mt-0"></div>
              <div
                style="
                  position: absolute;
                  background: transparent;
                  bottom: 20px;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                "
              >
                <span class="portfolio-item_portfolio__keyword__JJEwv my-1"
                  >No Code</span
                ><span class="portfolio-item_portfolio__keyword__JJEwv my-1"
                  >Logic Flow Path</span
                ><span class="portfolio-item_portfolio__keyword__JJEwv my-1"
                  >Database</span
                >
              </div>
            </div>
          </a>
        </div>
      </div>
      <div
        style="margin: 10px 0px"
        class="hover:scale-105 hover:ease-out duration-300 shadow-md col-sm-6 col-md-4 col-lg-4"
      >
        <div class="portfolio-item_portfolio__item___GoM5">
          <a
            target="_blank"
            style="text-decoration: none"
            href=""
            rel="noreferrer"
          >
            <div class="bg-transparent">
              <div class="portfolio-item_portfolio__img__whmCV">
                <img
                  alt="Docker: Containerization for Modern Development"
                  loading="lazy"
                  width="380"
                  height="1"
                  decoding="async"
                  data-nimg="1"
                  style="color: transparent; max-height: 380px; overflow: auto"
                  srcset="
                    https://i.ibb.co/Xzxc22j/Portfolio.png&amp;w=384&amp;q=75 1x,
                    https://i.ibb.co/Xzxc22j/Portfolio.png&amp;w=828&amp;q=75 2x
                  "
                  src="https://i.ibb.co/Xzxc22j/Portfolio.png&amp;w=828&amp;q=75"
                />
              </div>
              <h3 style="background: transparent">Portfolio Website</h3>
              <p style="background: transparent">
                Crafted with passion and precision, my portfolio website
                seamlessly blends innovative design, dynamic functionality
              </p>
              <div class="w-[100%] mt-5 lg:mt-0"></div>
              <div
                style="
                  position: absolute;
                  background: transparent;
                  bottom: 20px;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                "
              >
                <span class="portfolio-item_portfolio__keyword__JJEwv my-1"
                  >Ejs</span
                ><span class="portfolio-item_portfolio__keyword__JJEwv my-1"
                  >Html</span
                ><span class="portfolio-item_portfolio__keyword__JJEwv my-1"
                  >Css</span
                ><span class="portfolio-item_portfolio__keyword__JJEwv my-1"
                  >Postgresql</span
                >
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
