@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");

/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Ubuntu:wght@300&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.header {
  width: 100%;
  height: 94px;
  line-height: 80px;
  background-color: #0e1630;
}


@media (min-width: 576px) {
  .container,.container-sm {
      max-width:540px
  }
}

@media (min-width: 768px) {
  .container,.container-md,.container-sm {
      max-width:720px
  }
}

@media (min-width: 992px) {
  .container,.container-lg,.container-md,.container-sm {
      max-width:960px
  }
}

@media (min-width: 1200px) {
  .container,.container-lg,.container-md,.container-sm,.container-xl {
      max-width:1140px
  }
}

@media (min-width: 1400px) {
  .container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl {
      max-width:1320px
  }
}
.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

.header_logo h1 span {
  color: var(--site-theme-color);
}
.header_nav__menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 2.8rem;
  column-gap: 2.8rem;
  background-color: #0e1630;
}
.header_nav__menu a, .header_nav__menu>* {
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  transition: .3s;
}
a:hover span {
  color: #01d293;
}

#github-account:hover{

  transition-duration: .3s;
  transform: translateY(-3px) scale(1);
  color: #01d293;

}
#leetcode-account:hover{
  transition-duration: .3s;
  transform: translateY(-3px) scale(1);
  color: #01d293;
}
#linkedin-account:hover{
  transition-duration: .3s;
  transform: translateY(-3px) scale(1);
  color: #01d293;
}
[class^=ri-] {
  font-family: sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.text-\[\#808dad\] {
  --tw-text-opacity: 1;
  color: rgb(128 141 173/var(--tw-text-opacity));
}

.header_mobile__menu {
  display: none;
}
p {
  color: #808dad;
  line-height: 30px;
}
audio, canvas, embed, iframe, img, object, svg, video {
  display: block;
  vertical-align: middle;
}
.text-\[\#808dad\] {
  --tw-text-opacity: 1;
  color: rgb(128 141 173/var(--tw-text-opacity));
}
p {
  color: #808dad;
  line-height: 30px;
}
.pl-4 {
  padding-left: 1rem;
}
.border-l-slate-500 {
  --tw-border-opacity: 1;
  border-left-color: rgb(100 116 139/var(--tw-border-opacity));
}
.border-l-2 {
  border-left-width: 2px;
}
.items-center {
  align-items: center;
}
.flex {
  display: flex;
}

.gap-3 {
  gap: 1rem!important;
}
.flex-row {
  flex-direction: row!important;
}
/* <a aria-label="Youtube Channel" target="_blank" title="Youtube Channel" id="youtube-channel" class="cursor-pointer  text-[#ffffff] hover:text-[--site-theme-color] transform ease-in-out hover:-translate-y+1 hover:scale-150" rel="noreferrer" href="https://youtube.com/@piyushgargdev"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><g><path fill="none" d="M0 0h24v24H0z"></path><path d="M21.543 6.498C22 8.28 22 12 22 12s0 3.72-.457 5.502c-.254.985-.997 1.76-1.938 2.022C17.896 20 12 20 12 20s-5.893 0-7.605-.476c-.945-.266-1.687-1.04-1.938-2.022C2 15.72 2 12 2 12s0-3.72.457-5.502c.254-.985.997-1.76 1.938-2.022C6.107 4 12 4 12 4s5.896 0 7.605.476c.945.266 1.687 1.04 1.938 2.022zM10 15.5l6-3.5-6-3.5v7z"></path></g></svg></a> */

.text-\[\#ffffff\], .text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity));
}

.transform {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.header_mobile__menu i {
  font-size: 1.3rem;
  color: #fff;
  cursor: pointer;
}

[class*=" ri-"], [class^=ri-] {
  font-family: remixicon!important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Mobile view */
@media only screen and (max-width: 768px) {
  .header_nav__menu {
    display: none; /* Hide the desktop menu */
  }

  .header_navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header_mobile__menu {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 10px;
  }

  .header_mobile__menuDiv {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .header_logo {
    text-align: center;
    margin-bottom: 10px;
  }

  .header_logo h1 {
    font-size: 1.5rem;
  }
}


footer {
  position: relative;
  width: 100%;
  background: #0e1630;
  min-height: 100px;
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

footer .social_icon,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

footer .social_icon li,
footer .menu li {
  list-style: none;
}
footer .social_icon li a {
  font-size: 2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .social_icon li a:hover {
  transform: translateY(-14px);
  color: #01d293;
}

footer .menu li a {
  font-size: 1.2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}
footer .menu li a:hover {
  opacity: 1;
  color: #01d293;
}
p {
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.copyright {
  color: white;
}

/*wave and animation*/
/* footer .wave {
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://i.ibb.co/rZt4Nhg/wave.png);
  background-size: 1000px 100px;
} */

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 10px;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 0;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 10px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
