* {
    box-sizing: border-box;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

.mb-5 {
    margin-bottom: 3rem!important;
}

@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

.subtitle_section {
    color: var(--site-theme-color)!important;
    
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

.mt-4 {
    margin-top: 1.5rem!important;
    padding-right: 2rem; /* Adjust padding for smaller screens */
}

/* Media query for screens smaller than 992px */
@media (max-width: 991.98px) {
    .col-lg-6 {
        width: 100%;
    }
}

.duration-300:hover {
    transition-duration: .3s;
    box-shadow: .3s;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .projects-subtitle {
    margin-top: 1.5rem; /* Equivalent to mt-4 */
    font-size: 1.5rem; /* Equivalent to text-2xl */
}
.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 4px 6px -1px var(),0 2px 4px -2px var();
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}
.portfolio-item_portfolio__item___GoM5 {
    background: #171f38;
    padding: 20px 15px 10px;
    border-radius: 10px;
    margin-bottom: 8px;
    min-height: 100%;
    position: relative;
}
.portfolio-item_portfolio__item___GoM5 div {
    background: transparent;
}
.bg-transparent {
    --bs-bg-opacity: 1;
    background-color: transparent!important;
}
.portfolio-item_portfolio__img__whmCV {
    text-align: center;
}
.portfolio-item_portfolio__img__whmCV img {
    border-radius: 10px;
}
.portfolio-item_portfolio__img__whmCV img {
    border-radius: 10px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;

}

.portfolio-item_portfolio__item___GoM5 h3 {
    
    padding: 10px 0 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #fff;
}
blockquote h3 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

/* @media (min-width: 1200px){
.h3, h3{
    font-size: 1.75rem;
}} */
p {
    color: #808dad;
    line-height: 30px;
}
@media (min-width: 1024px){

}
.w-\[100\%\] {
    width: 100%;
}
.portfolio-item_portfolio__keyword__JJEwv {
    padding: 5px 10px;
    color: #fff!important;
    background: #808dad68;
    font-size: .7rem;
    margin-right: 10px;
    border-radius: 5px;
    /* margin-bottom: 5px; */
}
.portfolio-item_portfolio__keyword__JJEwv:hover{
    color: #01d293!important;
    background-color: #fff;
}
.my-1 {
    margin-top: 0.25rem!important;
    margin-bottom: 0.25rem!important;
}
